FORMAT: 1A
HOST: http://curiosity.com/api

# appreciations

A simple API to get all the appreciations.

## Questions Collection [/appreciations]

### Get a list of all Appreciations [GET]

+ Response 200 (application/json)

        [
            {
                "id":1,
                "text": "Congratulations on getting your first paper presented at BIAKM 2016. The whole team has done a wonderful job",
                "author": "Dr.Asha Nayak",
                "reactions":{
                                "thumbsup": 23, 
                                "heart":12,
                                "heavy_plus_sign":34
                            },
                "tags": [
                            {
                                "user": "Jennifer Johnson",
                                "id": "1001"
                            }, {
                                "user": "Arjun Altaf",
                                "id": "1002"
                            }, {
                                "user": "Michale Moore",
                                "id": "1003"
                            }, {
                                "user": "Rahul Randhawa",
                                "id": "1004"
                            }]
            }, {
                "id":2,
                "text": "I want to express my gratitute to the party planning commitee for the wonderful Diwali Celebrations we had at our Univeristy",
                "author": "Michael Scott",
                "reactions":{
                                "thumbsup": 4, 
                                "heart":100,
                                "heavy_plus_sign":2
                            },
                "tags": [
                            {
                                "user": "Angela Martin",
                                "id": "2001"
                            }, {
                                "user": "Phyllis Lapin",
                                "id": "2002"
                            }, {
                                "user": "Meredith Palmer",
                                "id": "2003"
                            }, {
                                "user": "Pam Beesly",
                                "id": "2004"
                            }]
            }]

### Save an appreciation [POST]

Takes a JSON object containing a text string as the appreciations
and a array of users who the appreciation refers to.

+ Request (application/json)

        {
            "text": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }